# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# JetBrains
*.idea

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
.DS_Store
.idea
.env
apps_mine/Hello_Wrld/venv/Scripts/pip3-script.py
apps_mine/Hello_Wrld/venv/Scripts/pip.exe
apps_mine/Hello_Wrld/venv/Scripts/activate
apps_mine/Hello_Wrld/venv/Scripts/Activate.ps1
apps_mine/Hello_Wrld/venv/pyvenv.cfg
apps_mine/Hello_Wrld/venv/Scripts/pip3.exe
apps_mine/Hello_Wrld/venv/Scripts/pip3.6.exe
apps_mine/Hello_Wrld/venv/Scripts/easy_install-3.6-script.py
apps_mine/Hello_Wrld/venv/Scripts/deactivate.bat
apps_mine/Hello_Wrld/venv/Scripts/activate.bat
apps_mine/Hello_Wrld/venv/Scripts/python3.dll
apps_mine/Hello_Wrld/venv/Scripts/python.exe
apps_mine/Hello_Wrld/venv/Scripts/easy_install.exe
apps_mine/Hello_Wrld/venv/Scripts/easy_install-script.py
apps_mine/Hello_Wrld/venv/Scripts/easy_install-3.6.exe
apps_mine/Hello_Wrld/venv/Scripts/pip-script.py
apps_mine/Hello_Wrld/venv/Scripts/pip3.6-script.py
apps_mine/Hello_Wrld/venv/Scripts/tcl86t.dll
apps_mine/Hello_Wrld/venv/Scripts/sqlite3.dll
apps_mine/Hello_Wrld/venv/Scripts/tk86t.dll
apps_mine/Hello_Wrld/venv/Scripts/python36.dll
apps_mine/Hello_Wrld/venv/Scripts/pythonw.exe
apps_mine/Hello_Wrld/venv/Scripts/vcruntime140.dll
